.offersbot {
    width: 100%;
    height: fit-content;
}

.offersbot-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 0 5px;
    font-family: "Inter", sans-serif;
    color: #fff;
    padding-bottom: 75px;
}

.offersbot-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 37px 0;
    position: relative;
    overflow: hidden;
    height: 15vh;
}

.offersbot-background-color {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.offersbot-block p {
    font-size: 12px;
    letter-spacing: 2.5px;
    position: relative;
    margin-bottom: 8px;
    font-weight: 500;
}

.offersbot-block h3 {
    font-size: 21px;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
}