.blog {
    width: 100%;
    height: fit-content;
}

.blog-inner {
    width: 94%;
    font-family: "Inter", sans-serif;
    color: #fff;
    padding-top: 91px;
    margin: 0 auto;
    padding-bottom: 135px;
}

.blog-title {
    width: 34%;
    margin-bottom: 75px;
}

.blog-title h2 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blog-title p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(790px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 0.5%;
    margin-bottom: 75px;
}

.blog-card {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-card-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;
    top: 0;
    opacity: 65%;
}

.blog-card-bg img {
    width: 100%;
    height: 100%;
}

.blog-card h3 {
    font-family: "Alex Brush", cursive;
    font-size: 37px;
    margin-bottom: 18.4px;
}

.blog-card p {
    font-weight: 500;
    font-size: 29px;
    letter-spacing: 0.5px;
    margin-bottom: 58.4px;
    width: 60%;
}

.blog-card a {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 9px;
}